<div class="off-canvas-wrap docs-wrap" data-offcanvas="">
  <div class="inner-wrap">
    <%= render 'layouts/header' %>
        <section class="inner_grey_bg">
          <div class="row">
            <div class="create_squar_outer">
              <div class="large-12 columns">
                <h1>Choose square type</h1>
              </div>

              <div class="large-4 medium-6 small-12 columns">
                <div class="create_squar_type left">
                  <div class="create_squar_type_inner left text-center">
                    <div class="create_squar_type_button">
                      <div class="create_squar_type_button_inner ">
                        <a href="/bet?charitytype=bet">celebrity bets</a>
                        <div class="create_sequr_pop_up left">
                          <p class="text-left">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras egestas laoreet justo et eleifend. Integer vitae consequat ipsum.
                          </p>
                        </div>
                      </div>  
                    </div>
                  </div>
                </div>
              </div>

              <div class="large-4 medium-6 small-12 columns">
                <div class="create_squar_type left">
                  <div class="create_squar_type_inner left text-center">
                    <div class="create_squar_type_button">
                      <div class="create_squar_type_button_inner">
                        <a href="/appeal?charitytype=appeal">appeals</a>
                        <div class="create_sequr_pop_up left">
                          <p class="text-left">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras egestas laoreet justo et eleifend. Integer vitae consequat ipsum.
                          </p>
                        </div>
                      </div>  
                    </div>
                  </div>
                </div>
              </div>

              <div class="large-4 medium-6 small-12 columns">
                <div class="create_squar_type left">
                  <div class="create_squar_type_inner left text-center">
                    <div class="create_squar_type_button">
                      <div class="create_squar_type_button_inner ">
                        <a href="#">auctions</a>
                        <div class="create_sequr_pop_up left">
                          <p class="text-left">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras egestas laoreet justo et eleifend. Integer vitae consequat ipsum.
                          </p>
                        </div>
                      </div>  
                    </div>
                  </div>
                </div>
              </div>

              <div class="large-4 medium-6 small-12 columns">
                <div class="create_squar_type left">
                  <div class="create_squar_type_inner left text-center">
                    <div class="create_squar_type_button">
                      <div class="create_squar_type_button_inner ">
                        <a href="#">buy now</a>
                        <div class="create_sequr_pop_up left">
                          <p class="text-left">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras egestas laoreet justo et eleifend. Integer vitae consequat ipsum.
                          </p>
                        </div>
                      </div>  
                    </div>
                  </div>
                </div>
              </div>

              <div class="large-4 medium-6 small-12 columns">
                <div class="create_squar_type left">
                  <div class="create_squar_type_inner left text-center">
                    <div class="create_squar_type_button">
                      <div class="create_squar_type_button_inner ">
                        <a href="#">raffle & lottery</a>
                        <div class="create_sequr_pop_up left">
                          <p class="text-left">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras egestas laoreet justo et eleifend. Integer vitae consequat ipsum.
                          </p>
                        </div>
                      </div>  
                    </div>
                  </div>
                </div>
              </div>

              

<%= render 'layouts/footer' %>