<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Charity Square</title>
    <link rel="stylesheet" type="text/css" href="css/foundation.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="js/vendor/modernizr.js"></script>
  </head>
  <body>
    <div class="off-canvas-wrap docs-wrap" data-offcanvas="">
      <div class="inner-wrap">

      <!-- header section start here -->

        <nav data-topbar="" class="top-bar docs-bar hide-for-small">
          <ul class="title-area">
            <li class="name">
              <h1><a href="#" title="Logo">Logo</a></h1>
            </li>
          </ul>

          <section class="top-bar-section text-center">
            <ul class="left">
              <li class="has-dropdown not-click">
                <a class="" href="#" title="discover">discover</a>
                <ul class="dropdown">
                  <li class="parent-link hide-for-medium-up">
                    <a href="#" title="discover" class="parent-link js-generated">discover</a>
                  </li>
                  <li><a href="#" title="Demo">Demo</a></li>
                  <li><a href="#" title="Demo">Demo</a></li>
                  <li><a href="#" title="Demo">Demo</a></li>
                  <li><a href="#" title="Demo">Demo</a></li>
                </ul>
              </li>
            </ul> 
            <div class="top_head_search">
              <div class="search_categories">
                <input type="text" placeholder="search...">
                <button class="search">
                  <a href="#"><img src="img/search_icon.png" alt=""></a>
                </button>
                <button class="button dropdown" aria-expanded="false" aria-controls="drop1" data-dropdown="drop1" href="#">categories</button>
                <ul aria-hidden="true" class="f-dropdown" data-dropdown-content="" id="drop1" style="position: absolute; left: -99999px; top: 75px;">
                  <li><a href="#">This is a link</a></li>
                  <li><a href="#">This is another</a></li>
                  <li><a href="#">Yet another</a></li>
                </ul>
              </div>
            </div> 
            <ul class="right">
              <li>
                <a class="" href="#" title="Register">Register</a>
              </li>
              <li>
                <a class="" href="#" title="Login">Login</a>
              </li>
              <li class="launch_square">
                <a class="" href="#" title="launch square">launch a square</a>
              </li>
            </ul>
          </section>
        </nav>
        <nav class="tab-bar show-for-small">
          <section class="right-small">
            <a aria-expanded="false" class="right-off-canvas-toggle menu-icon"><span></span></a>
          </section>

          <section class="left tab-bar-section">
            <h1 class="title">
              <a class="left" href="#">Logo</a>
            </h1>
          </section>
        </nav>
        <aside class="right-off-canvas-menu">
          <ul class="off-canvas-list">
            <li><label>discover</label></li>
            <li><a href="#">Demo</a></li>
            <li><a href="#">Demo</a></li>
            <li><a href="#">Demo</a></li>
            <li><a href="#">Demo</a></li>
            <li><label>Register and Login</label></li>
            <li><a href="#">Register</a></li>
            <li><a href="#">Login</a></li>
            <li><label>launch a square</label></li>
            <li><a href="#">launch a square</a></li>
          </ul>
        </aside>
        <a class="exit-off-canvas"></a>

        <!-- banner section start here -->
        <div class="register_banner_section">
        </div>
      </div>

      <!-- Charity list section start here -->

      <section class="register_section">
        <div class="row">
          <div class="large-12 columns">
            <div class="register text-center">
              <h1>
                Register
              </h1>
              <input type="email" placeholder="Email address">
              <input type="email" placeholder="First name">
              <input type="email" placeholder="Last name">
              <input type="email" placeholder="Password">
              <button>register</button>
              <h2>
                By registering you accept the <a href="#" title="terms & conditions">terms & conditions</a><br> 
                and <a href="#" title="privacy policy">privacy policy</a>.
              </h2>
              <div class="register_as_chirty">
                <button>register as charity</button>
                <span class="allready_account left">
                  <a href="#" title="Already have an account?">Already have an account?</a>
                </span>
              </div>
            </div>
          </div>  
        </div>  
        <div class="for_charity_and_help left">
          <div class="row">
            <div class="large-12 columns">
              <ul class="left listing">
                <li>
                  <a href="#" title="For charities">For charities</a>
                </li>
                <li>
                  <a href="#" title="For fundraisers">For fundraisers</a>
                </li>
                <li>
                  <a href="#" title="For supporters">For supporters</a>
                </li>
              </ul>
              <ul class="right listing">
                <li>
                  <a href="#" title="Help & FAQ ">Help & FAQ </a>
                </li>
                <li>
                  <a href="#" title="About us">About us</a>
                </li>
                <li>
                  <a href="#" title="Create a square">Create a square</a>
                </li>
              </ul>
            </div>  
          </div>  
        </div>
      </section>

      <div class="add_space left">
        <div class="row">
          <div class="large-12 columns">
            <div class="add_here text-center">
              <h1>ad space</h1>
            </div>
          </div>
        </div>
      </div>

      <footer class="footer_section left">
        <div class="row">
          <h1 class="text-center">Chari Squares Ltd &copy 2015 All rights reserved</h1>
          <ul class="footer_nav_list left text-center">
            <li>
              <a href="#" title="Term & Condisitons">Term & Condisitons</a>
            </li>
            <li>
              <a href="#" title="Cokie policy">Cokie policy</a>
            </li>
            <li>
              <a href="#" title="Privacy Policy">Privacy Policy</a>
            </li>
          </ul>
          <h2 class="text-center">designed by awake<sup>&#174;</sup></h2>
        </div>
      </footer> 
    </div>
    <script src="js/vendor/jquery.js"></script>
    <script src="js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
