<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Congrats</h1>
    <p>
     <br>
     <%= link_to bets_show_url(:id => @bet_id, :user_id => @user_id), bets_show_url(:id => @bet_id, :user_id => @user_id) %>.
    </p>
    <p>
     
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>


