<div class="betresult_link pending_squre">
    <span class="text_white left">Completed</span>
    <%= link_to "View Results", bet_result1_path(:id=>@betres.bet_id) , :class => "review right", :style=>"width:121px;" %>
</div>



