<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Charity Square</title>
    <link rel="stylesheet" type="text/css" href="css/foundation.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="js/vendor/modernizr.js"></script>
    <script src="js/watch_list.js" ></script>
  </head>
  <body>
    <div class="off-canvas-wrap docs-wrap" data-offcanvas="">
      <div class="inner-wrap">

        <!-- header section start here -->

        <nav data-topbar="" class="top-bar docs-bar hide-for-small">
          <ul class="title-area">
            <li class="name">
              <h1><a href="#" title="Logo">Logo</a></h1>
            </li>
          </ul>

          <section class="top-bar-section text-center">
            <ul class="left">
              <li class="has-dropdown not-click">
                <a class="" href="#" title="discover">discover</a>
                <ul class="dropdown">
                  <li class="parent-link hide-for-medium-up">
                    <a href="#" title="discover" class="parent-link js-generated">discover</a>
                  </li>
                  <li><a href="#" title="Demo">Demo</a></li>
                  <li><a href="#" title="Demo">Demo</a></li>
                  <li><a href="#" title="Demo">Demo</a></li>
                  <li><a href="#" title="Demo">Demo</a></li>
                </ul>
              </li>
            </ul> 
            <div class="top_head_search">
              <div class="search_categories">
                <input type="text" placeholder="search...">
                <button class="search">
                  <a href="#"><img src="img/search_icon.png" alt=""></a>
                </button>
                <button class="button dropdown" aria-expanded="false" aria-controls="drop1" data-dropdown="drop1" href="#">categories</button>
                <ul aria-hidden="true" class="f-dropdown" data-dropdown-content="" id="drop1" style="position: absolute; left: -99999px; top: 75px;">
                  <li><a href="#">This is a link</a></li>
                  <li><a href="#">This is another</a></li>
                  <li><a href="#">Yet another</a></li>
                </ul>
              </div>
            </div> 
            <ul class="right">
              <li>
                <a class="" href="#" title="Register">Register</a>
              </li>
              <li>
                <a class="" href="#" title="Login">Login</a>
              </li>
              <li class="launch_square">
                <a class="" href="#" title="launch square">launch a square</a>
              </li>
            </ul>
          </section>
        </nav>
        <nav class="tab-bar show-for-small">
          <section class="right-small">
            <a aria-expanded="false" class="right-off-canvas-toggle menu-icon"><span></span></a>
          </section>

          <section class="left tab-bar-section">
            <h1 class="title">
              <a class="left" href="#">Logo</a>
            </h1>
          </section>
        </nav>
        <aside class="right-off-canvas-menu">
          <ul class="off-canvas-list">
            <li><label>discover</label></li>
            <li><a href="#">Demo</a></li>
            <li><a href="#">Demo</a></li>
            <li><a href="#">Demo</a></li>
            <li><a href="#">Demo</a></li>
            <li><label>Register and Login</label></li>
            <li><a href="#">Register</a></li>
            <li><a href="#">Login</a></li>
            <li><label>launch a square</label></li>
            <li><a href="#">launch a square</a></li>
          </ul>
        </aside>
        <a class="exit-off-canvas"></a>

        <!-- Charity list section start here -->

        <section class="inner_grey_bg">
          <div class="charity_feed left">
            <div class="row">
              <div class="large-12 medium-12 small-12 columns">
                <ul class="Square_breadcrumb left">
                  <li>
                    <a href="#" title="breadcrumb ">breadcrumb</a>
                  </li>
                  <li>
                    <a href="#" title="breadcrumb ">breadcrumb</a>
                  </li>
                  <li>
                    <a href="#" title="breadcrumb ">breadcrumb</a>
                  </li>
                </ul>
              </div>  
              <div class="large-6 medium-6 small-12 columns">
                <div class="square_page_slider left">
                  <div class="square_page_slider_big_img left"> 
                  </div>
                  <ul class="square_page_slider_thumb right">
                    <li>
                      <a href="#"></a>
                    </li>
                    <li>
                      <a href="#"></a>
                    </li>
                    <li>
                      <a href="#"></a>
                    </li>
                    <li>
                      <a href="#"></a>
                    </li>
                    <li>
                      <a href="#"></a>
                    </li>
                    <li>
                      <a href="#"></a>
                    </li>
                    <li>
                      <a href="#"></a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="large-6 medium-6 small-12 columns">
                <div class="square_page_about_pro_right left">
                  <h1>Product name lorem ipsum dolor sit amet</h1>
                  <div class="about_square_page_user left">
                    <span class="about_square_page_user_img_thumb left"></span>
                    <span class="about_square_page_user_img_name left">
                      by John 
                      <span class="about_square_page_user_feedback left">Feedback 100%</span>
                    </span>
                  </div>
                  <div class="about_square_page_time_price left">
                    <span class="about_square_time left">
                      Time left:
                      <span class="time_price left">14 hours</span>
                    </span>
                    <span class="about_square_price text-right right">
                      Price
                      <span class="time_price left">£20.00</span>
                    </span>
                  </div>
                  <div class="select_size_quantity right">
                    <select class="right">
                      <option>quantity</option>
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                    </select>

                    <select class="right">
                      <option>size</option>
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                    </select>
                  </div>
                  <div class="square_page_buy_watch_list right">
                    <button class="right">buy now</button>
                    <a class="left text-center " href="#" title="add to watch list">add to watch list</a>
                  </div>
                  <ul class="sequre_address_list left">
                    <li><span class="grey_color">Delivery:</span> Free delivery (UK only) or Pick-up from seller</li>
                    <li><span class="grey_color">Location:</span> London, UK</li>
                    <li><span class="grey_color">Payment:</span> Paypal, Debit and Credit cards</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="about_squre_charity left">
              <div class="row">
                <div class="large-12 medium-12 small-12 columns">
                  <div class="squre_charity_follow_share_outer right">
                    <div class="squre_charity_follow_share right">
                      <a href="#" title="follow">follow</a>
                      <a href="#" title="share">share</a>
                    </div>
                  </div>  
                  <div class="squre_charity_img left"></div>
                  <div class="squre_charity_content left">
                    <h1>Name of charity</h1>
                    <span class="about_squre_charity_name left">
                      username
                    </span>
                    <p>Lorem ipsum dolor sit amet, consectetur 
                    <br>adipiscing elit. Cras egestas laoreet justo et<br>
                     eleifend. Integer vitae consequat ipsum.
                     <br> Integer vitae consequat ipsum.</p>
                  </div>
                </div>  
              </div>
            </div>

            <div class="squre_charity_product_info left">
              <div class="row">
                <div class="large-12 medium-12 small-12 columns">
                  <ul role="tablist" data-tab="" class="tabs">
                    <li role="presentational" class="tab-title active">
                      <a controls="panel2-1" aria-selected="true" tabindex="0" role="tab" href="#panel2-1">
                        Product information
                      </a>
                    </li>
                    <li role="presentational" class="tab-title">
                      <a controls="panel2-2" aria-selected="false" tabindex="-1" role="tab" href="#panel2-2">
                        Delivery 
                      </a>
                    </li>
                    <li role="presentational" class="tab-title">
                      <a controls="panel2-3" aria-selected="false" tabindex="-1" role="tab" href="#panel2-3">
                        Terms & Conditions
                      </a>
                    </li>
                  </ul>
               
                  <div class="tabs-content">
                    <section id="panel2-1" class="content active" aria-hidden="false" role="tabpanel">
                      <div class="squre_charity_product_info_left left">
                        <div class="squre_charity_product_info_all left">
                          <span class="squre_charity_product_info_pro_title left">
                            Brand: 
                          </span>
                          <span class="squre_charity_product_info_pro_value left">
                            Unknown
                          </span>
                        </div>
                        <div class="squre_charity_product_info_all left">
                          <span class="squre_charity_product_info_pro_title left">
                            Condition: 
                          </span>
                          <span class="squre_charity_product_info_pro_value left">
                            New
                          </span>
                        </div> 
                        <div class="squre_charity_product_info_all left">
                          <span class="squre_charity_product_info_pro_title left">
                            Type:  
                          </span>
                          <span class="squre_charity_product_info_pro_value left">
                            Lorem ipsum
                          </span>
                        </div>  
                      </div>

                      <div class="squre_charity_product_info_middle left">
                        <div class="squre_charity_product_info_all left">
                          <span class="squre_charity_product_info_pro_title left">
                            Main colour:  
                          </span>
                          <span class="squre_charity_product_info_pro_value left">
                            Green
                          </span>
                        </div>
                        <div class="squre_charity_product_info_all left">
                          <span class="squre_charity_product_info_pro_title left">
                            Material: 
                          </span>
                          <span class="squre_charity_product_info_pro_value left">
                            plastic
                          </span>
                        </div> 
                        <div class="squre_charity_product_info_all left">
                          <span class="squre_charity_product_info_pro_title left">
                            Size:   
                          </span>
                          <span class="squre_charity_product_info_pro_value left">
                            8
                          </span>
                        </div>  
                      </div>

                      <div class="squre_charity_product_info_right left">
                        <div class="squre_charity_product_info_all left">
                          <span class="squre_charity_product_info_pro_title left">
                            Description:  
                          </span>
                          <span class="squre_charity_product_info_pro_value left">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras egestas laoreet justo et eleifend. Integer vitae consequat ipsum.
                          </span>
                        </div>
 
                        <div class="squre_charity_product_info_all left">
                          <span class="squre_charity_product_info_pro_title left">
                            Sizing info:    
                          </span>
                          <span class="squre_charity_product_info_pro_value left">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                          </span>
                        </div>  
                      </div>
                    </section>

                    <section id="panel2-2" class="content" aria-hidden="true" role="tabpanel" tabindex="-1">
                      <h2>Second panel content goes here...</h2>
                    </section>

                    <section id="panel2-3" class="content" aria-hidden="true" role="tabpanel" tabindex="-1">
                      <h2>Third panel content goes here...</h2>
                    </section>

                  </div>
                </div> 
              </div>  
            </div>

            <div class="row">
              <div class="large-12 columns">
                <h3>suggestions</h3>
              </div>
              <div class="large-4 medium-6 small-12 columns">
                <div class="charity_feed_box left">
                  <div class="charity_box_img left">
                  </div>
                  <div class="charity_feed_box_contant left">
                    <h1>Lorem ipsum dolor sit amet</h1>
                    <span class="charity_feed_box_contant_user">
                      by username
                    </span>
                    <div class="charity_feed_box_user_detail left">
                      <span class="charity_feed_box_user_img left"></span>

                      <span class="charity_feed_box_time left">
                        Time left <br><span class="charity_feed_box_day">1 day</span>
                      </span>

                      <span class="charity_feed_box_ticket_price left">
                        Ticket price <br><span class="charity_feed_box_price">£20.00</span>
                      </span>

                      <span class="charity_feed_box_play_raffle right">
                        <a href="#" title="Play raffle">Play raffle</a>
                      </span>
                    </div>
                  </div>
                </div>
              </div> 

              <div class="large-4 medium-6 small-12 columns">
                <div class="charity_feed_box left">
                  <div class="charity_box_img left">
                  </div>
                  <div class="charity_feed_box_contant left">
                    <h1>Lorem ipsum dolor sit amet</h1>
                    <span class="charity_feed_box_contant_user">
                      by username
                    </span>
                    <div class="charity_feed_box_user_detail left">
                      <span class="charity_feed_box_user_img left"></span>

                      <span class="charity_feed_box_time left">
                        Time left <br><span class="charity_feed_box_day">1 day</span>
                      </span>

                      <span class="charity_feed_box_ticket_price left">
                        Ticket price <br><span class="charity_feed_box_price">£20.00</span>
                      </span>

                      <span class="charity_feed_box_play_lottery right">
                        <a href="#" title="Play lottery">Play lottery</a>
                      </span>
                    </div>
                  </div>
                </div>
              </div> 

              <div class="large-4 medium-6 small-12 columns">
                <div class="charity_feed_box left">
                  <div class="charity_box_img left">
                  </div>
                  <div class="charity_feed_box_contant left">
                    <h1>Lorem ipsum dolor sit amet</h1>
                    <span class="charity_feed_box_contant_user">
                      by username
                    </span>
                    <div class="charity_feed_box_user_detail left">
                      <span class="charity_feed_box_user_img left"></span>

                      <span class="charity_feed_box_time left">
                        Time left <br><span class="charity_feed_box_day">1 day</span>
                      </span>

                      <span class="charity_feed_box_ticket_price left">
                        Ticket price <br><span class="charity_feed_box_price">£20.00</span>
                      </span>

                      <span class="charity_feed_box_place_bet right">
                        <a title="Place bet" href="#">Place bet</a>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>    
          </div>  

          <div class="for_charity_and_help left">
            <div class="row">
              <div class="large-12 columns">
                <ul class="left listing">
                  <li>
                    <a href="#" title="For charities">For charities</a>
                  </li>
                  <li>
                    <a href="#" title="For fundraisers">For fundraisers</a>
                  </li>
                  <li>
                    <a href="#" title="For supporters">For supporters</a>
                  </li>
                </ul>
                <ul class="right listing">
                  <li>
                    <a href="#" title="Help & FAQ ">Help & FAQ </a>
                  </li>
                  <li>
                    <a href="#" title="About us">About us</a>
                  </li>
                  <li>
                    <a href="#" title="Create a square">Create a square</a>
                  </li>
                </ul>
              </div>  
            </div>  
          </div>
        </section>

        <div class="add_space left">
          <div class="row">
            <div class="large-12 columns">
              <div class="add_here text-center">
                <h1>ad space</h1>
              </div>
            </div>
          </div>
        </div>

        <footer class="footer_section left">
          <div class="row">
            <h1 class="text-center">Chari Squares Ltd &copy 2015 All rights reserved</h1>
            <ul class="footer_nav_list left text-center">
              <li>
                <a href="#" title="Term & Condisitons">Term & Condisitons</a>
              </li>
              <li>
                <a href="#" title="Cokie policy">Cokie policy</a>
              </li>
              <li>
                <a href="#" title="Privacy Policy">Privacy Policy</a>
              </li>
            </ul>
            <h2 class="text-center">designed by awake<sup>&#174;</sup></h2>
          </div>
        </footer>
      </div>   
    </div>
    <script src="js/vendor/jquery.js"></script>
    <script src="js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
