<div class="for_charity_and_help  left">
            <div class="row">
              <div class="large-12 columns">
                <ul class="left listing">
                  <li>
                    <a title="For charities" href="#">For charities</a>
                  </li>
                  <li>
                    <a title="For fundraisers" href="#">For fundraisers</a>
                  </li>
                  <li>
                    <a title="For supporters" href="#">For supporters</a>
                  </li>
                </ul>
                <ul class="right listing">
                  <li>
                    <a title="Help &amp; FAQ " href="#">Help &amp; FAQ </a>
                  </li>
                  <li>
                    <a title="About us" href="#">About us</a>
                  </li>
                  <li>
                    <a title="Create a square" href="#">Create a square</a>
                  </li>
                </ul>
              </div>  
            </div>  
          </div>
        </section>

        <div class="add_space left">
          <div class="row">
            <div class="large-12 columns">
              <div class="add_here text-center">
                <h1>ad space</h1>
              </div>
            </div>
          </div>
        </div>

        <footer class="footer_section left">
          <div class="row">
            <h1 class="text-center">Chari Squares Ltd &copy; 2015 All rights reserved</h1>
            <ul class="footer_nav_list left text-center">
              <li>
                <a title="Term &amp; Condisitons" href="#">Term &amp; Condisitons</a>
              </li>
              <li>
                <a title="Cokie policy" href="#">Cokie policy</a>
              </li>
              <li>
                <a title="Privacy Policy" href="#">Privacy Policy</a>
              </li>
            </ul>
            <h2 class="text-center">designed by awake<sup>&reg;</sup></h2>
          </div>
        </footer>