var _html="";
_html+='<div data-alert class="alert-box success radius">';
<% @params.errors.messages.each do |key,value| %>
_html+='<div>';
_html+= "<%= key.capitalize %> ";
_html+= "<%= value[0] %> ";
_html+='</div>';
<% end %>


_html+='<a href="#" class="close">&times;</a> ';
_html+='</div>'; 
$("#errorExplanation").html(_html);
$(document).foundation();

